<% layout("/layouts/boilerplate1.ejs") %>
<%
  const activeBookings = userBookings.filter(booking => booking.status === "active");
%>
<% if (activeBookings.length > 0) { %>
  <br>
<h4>Your Bookings</h4>
  <div class="row">
      <% activeBookings.forEach(booking => { %>
        <div class="row md-3">
          <div class="md-3 col-md-2 mt-3">
            <img src="<%= booking.image %>" class="card-img-top-booking"> <br>   
          </div>
          <div class="md-2 col-md-4 "><br>
            <p>            
            Booking of <b><%= booking.name.toUpperCase() %></b> <br>
            <%= booking.location %>, <%= booking.country %><br>
            <%= booking.noofrooms %> Rooms<br>
            <%= booking.checkin.toDateString() %> - <%= booking.checkout.toDateString() %> <br>                
            Total Price: &#8377;<%= booking.totalPrice %>
            <p>
            <!-- Cancel Button -->
            <form action="/bookings/<%= booking._id %>/cancel" method="POST">
              <a href="/bookings/<%= booking._id %>/download" class="button mt-2">Download Bookings PDF</a>
              <button type="submit" class="button mt-3">Cancel Booking</button>
              
            </form>
          </div>
        </div>
      <% }); %>
  </div><br><hr>
<% } else { %>
  <h5 class="m-5 reviewss">No active bookings found...</h5>
<% } %>
